<%= form_for :user, url: '/users', :html => {:class => "form-horizontal center"} do |f| %>
    <div class="form-group">
      <h1 class="form-heading">Sign Up</h1>
      <%= f.label :first_name, "First name:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :first_name, class: "form-control", placeholder: "Please provide first name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, "Last name:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Please provide last name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :email, class: "form-control", placeholder: "Please provide email" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "Password:", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "Confirm password", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.password_field :password_confirmation,class: "form-control", placeholder: "Confirm password" %>
      </div>
    </div>

    <div class="">
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
    </div>
<% end %>
